body{
    background-color: forestgreen;
    color: yellow;
}

nav{
    height: 200px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;

}

#memeImage{
    margin-right: 200px;
    text-align: center;
}

header{
    text-align: center;

}

.paraText{
    color:rebeccapurple;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}